.vscode/
bin/linux/save3ds_fuse
cstins/
testing-class.py
*.local
.DS_Store
._*
venv/
**/__pycache__/
*.pyc
*.egg-info/
*.whl
.idea/
=======
/build/
/dist/
/custom-install-finalize.3dsx
result
result-*
venv/
__pycache__/
build/
dist/
*.spec
titledb_offline.json
